<div class="container">
<h3>Pieslegsanas vai Registracija</h3>
<hr/>
<body>
	<h4>
		Pieslegties
	</h4>

	<form action="/sessions" method="POST">
		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
		<input type="email" name="login[email]" placeholder="e-pasts">
		<input type="password" name="login[password]" placeholder="parole">		
		<input type="submit" name="submit" class="submit">
	</form>

	<div class="errors">
		<% if flash[:login_errors]%>
			<% flash[:login_errors].each do |error|%>
				<p><%=error%></p>
			<%end%>
		<%end%>
	</div>
	<hr/>
	<h4>
		Registreties
	</h4>

	<form action="/users" method="POST">
		<input type="hidden" name="authenticity_token" value="form_authenticity_token">			
		<input type="name" name="user[name]" placeholder="vards">
		<input type="email" name="user[email]" placeholder="e-pasts">
		<input type="password" name="user[password]" placeholder="parole">
		<input type="password" name="user[password_confirmation]" placeholder="paroles apstiprinasana">
		<input type="submit" name="submit" class="submit">
	</form>

	<div class="errors">
		<% if flash[:register_errors]%>
			<% flash[:register_errors].each do |error|%>
				<p><%=error%></p>
			<%end%>
		<%end%>
	</div>


</body>
</div>