<div class="container">

<h1>Home page</h1>
<hr/>
<b><p>hey, how are ya doing today?</p></b>
<b><p>this is provobly temporary, but hey its a project thats normal... right?</p></b>
<i><p>Find me in ... somewhere lol (/viewswelcome/index.html.erb)</p></i>

<hr/>
<%= link_to 'Ierakstu saraksts', controller: 'articles' %> |
<%= link_to 'Klientu saraksts', controller: 'clients' %>

</div>