<h1>Home</h1>
<b><p>hey something's going on</p></b>
<i><p>Find me in ... somewhere lol (/viewswelcome/index.html.erb)</p></i>
<%= link_to 'Show all articles', controller: 'articles' %> |
<%= link_to 'Klientu saraksts', controller: 'clients' %>