// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topright {
  position: absolute;
  top: 3px;
  right: 16px;
  font-size: 20px;
  font-weight: bold;
}

.topright2 {
  position: absolute;
  top: 3px;
  right: 130px;
  font-size: 20px;
  font-weight: bold;
}
